.all_section {
    display: flex;
    gap: 24px;
}

/* header 시작 */

header {
    height: 56px;
    padding: 0 32px;
}

header,
.header_left,
.header_center,
.header_right {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left_menu {
    width: 24px;
    height: 24px;
}

.logo {
    width: 93px;
    height: 32px;
}

.left_menu,
.logo {
    padding: 8px;
}

.header_center {
    width: 600px;
}

.header_center > input {
    height: 40px;
    width: 100%;
    border: 1px solid #ddd;
    outline-color: #065fd4;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 24px 0 0 24px;
}

.search_icon {
    width: 64px;
    height: 40px;
    padding: 6px;
    border-radius: 0 24px 24px 0;
    background: #f1f1f1;
    border: 1px solid #ddd;
    border-left: none;
    cursor: pointer;
}

.voice_icon {
    width: 47px;
    height: 40px;
    padding: 8px;
    outline: none;
    border: none;
    border-radius: 50%;
    margin-left: 8px;
}

.header_right {
    gap: 8px;
}

.header_making {
    display: flex;
    align-items: center;
    padding: 8px;
    background: #f1f1f1;
    border-radius: 24px;
}

.header_making > button {
    background: #f1f1f1;
    border: none;
}

.header_making > span {
    margin-bottom: 4px;
    padding-right: 4px;
    font-size: 14px;
}

.bell,
.profile_img {
    background: none;
    border: none;
}

.profile_img img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

/* header 끝 */

/* left 레이아웃 시작 */
.main_left {
    width: 70%;
    margin-left: 24px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.video_container,
.comment_container {
    width: 90%;
}
/* left 레이아웃 끝 */


/* video_info 시작 */

.main_video {
    width: 100%;
    position: relative;
    height: 0;
    padding-bottom: 56.25%;
}

.main_video > iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 16px;
}

.video_info {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.video_info > h2 {
    font-size: 20px;
    font-weight: 600;
    margin: 8px 0;
}

.info_wrapper {
    display: flex;
    justify-content: space-between;
}

.channel_box {
    display: flex;
    gap: 20px;
}

.channel_box > figure {
    background: url(../img/channels4_profile.jpg);
    width: 40px;
    height: 40px;
    background-size: cover;
    border-radius: 50%;
}

.channel_name > h2 {
    font-weight: 600;
    margin-bottom: 8px;
}

.channel_name > p {
    font-size: 12px;
    color: #606060;
}

.channel_btn_box > button {
    border: none;
    padding: 8px 16px;
    font-size: 14px;
    border-radius: 24px;
}

.channel_btn_box > button:first-child {
    background-color: #f1f1f1;
    margin-right: 4px;
}

.channel_btn_box > button:last-child {
    background-color: #000;
    color: #fff;
}

.view_box {
    display: flex;
    gap: 16px;
}

.view_icon {
    width: 40px;
    height: 40px;
    padding: 8px;
    background: none;
    border: none;
}

.view_box > div {
    display: flex;
    align-items: center;
    background: #f1f1f1;
    gap: 4px;
    padding: 0 16px 0 8px;
    border-radius: 24px;
}

div.more {
    padding: 0;
}

.video_discription {
    padding: 12px;
    background-color: #f1f1f1;
    border-radius: 16px;
    font-size: 14px;
}

.video_discription > h2 {
    font-weight: 600;
    margin-bottom: 8px;
}

.video_discription > h2 > span {
    font-weight: 400;
    color: #464646;
}

.video_discription > p {
    margin: 4px 0;
}

/* video_info 끝 */

/* comment_container 시작 */

.comment_count {
    display: flex;
    align-items: center;
    margin: 16px 0;
    gap: 16px;
}

.comment_count > h2 {
    font-size: 20px;
    font-weight: 600;
}

.comment_align {
    display: flex;
    align-items: center;
}

.comment_align > span {
    font-size: 14px;
}

.add_comment > figure {
    background: url(../img/profile.jpg);
    width: 40px;
    height: 40px;
    background-size: cover;
    border-radius: 50%;
}

.add_comment {
    display: flex;
}

.add_comment_input > input {
    border: none;
    outline: none;
}

.add_comment_input {
    border-bottom: 1px solid #ddd;
    width: 100%;
    margin:  0 0 16px 16px;
}

.comment_content { 
    display: flex;
    justify-content: space-between;
    margin: 32px 0;
}

.comment_content > figure {
    background: url(../img/user_profile.jpg);
    width: 40px;
    height: 40px;
    background-size: cover;
    border-radius: 50%;
    margin-right: 16px;
}

.user_comment {
    flex-basis: 100%;
}

.user_comment > h2 {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 8px;
}

.user_comment > h2 > span {
    font-size: 12px;
    font-weight: 400;
    color: #464646;
}

.comment_icon,
.like {
    display: flex;
    align-items: center;
}

.like > span { 
    font-size: 14px;
}

.reply {
    display: flex;
    align-items: center;
    color: #065fd4;
}

.reply > figure {
    background: url(../img/channels4_profile.jpg);
    width: 24px;
    height: 24px;
    background-size: cover;
    border-radius: 50%;
    margin-right: 8px;
}

.reply > button > svg {
    fill: #065fd4;
}
/* comment_container 끝 */

/* side_video_container 시작 */

.side_video_container {
    width: 30%;
}

.side_width {
    width: 80%;
}

.side_video_filter {
    display: flex;
    gap: 8px;
    margin: 16px 0;
}

.side_video_filter > li > button {
    padding: 8px 16px;
    background: #f1f1f1;
    border: none;
    font-size: 14px;
    font-weight: 600;
    border-radius: 6px;
}

.side_video_filter > li:first-child > button {
    background-color: #000;
    color: #f1f1f1;
}

.side_video_filter > li:last-child > button {
    padding: 8px;
    background: 0;
}


.side_videos > li { 
    display: flex;
    gap: 12px;
    margin-bottom: 8px;
}

.side_videos > li > figure > a > img {
    border-radius: 8px;
}

.side_video_text > h2 {
    font-size: 14px;
}

.side_video_text > p {
    font-size: 13px;
    color: #606060;
    margin: 8px 0;
}

.sub_text {
    font-size: 13px;
    color: #606060;
}

/* side_video_container 끝 */